In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# load csv file
citypath = "City_Data.csv"
ridepath = "Ride_Data.csv"
city_data = pd.read_csv(citypath)
ride_data = pd.read_csv(ridepath)

In [4]:
# Combine the data into a single dataset using outer method so as not to lose
# data that does not appear in both during the merge

combined = pd.merge(city_data, ride_data, how="outer", on="city")

In [5]:
# display the data table for preview
combined.head()

          city  driver_count   type             date   fare       ride_id
0  Richardfort            38  Urban   2/24/2018 8:40  13.93  5.628550e+12
1  Richardfort            38  Urban  2/13/2018 12:46  14.00  9.100500e+11
2  Richardfort            38  Urban  2/16/2018 13:52  17.92  8.206390e+11
3  Richardfort            38  Urban   2/1/2018 20:18  10.26  9.554940e+12
4  Richardfort            38  Urban   4/17/2018 2:26  23.00  7.200210e+11

In [6]:
# Create Bubble Plot of Ride Sharing Data===

In [8]:
# Determine the number of rides per city
# start by creating city groups
city_group = combined.groupby('city')
#if just did city_group.mean(), we would get avg of every column for each city
#by specifying "fare" column in brackets after .mean() we just get avg fare
#for each city
avg_fare = city_group.mean()['fare']
ride_count = city_group['ride_id'].count()
driver_count = city_group.mean()['driver_count']

In [ ]:
# make new data frame

In [ ]:
###plt.scatter(combined_data.driver_count, combined_data.fare, s=city_ride_count)