In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# load csv file
citypath = "City_Data.csv"
ridepath = "Ride_Data.csv"
city_data = pd.read_csv(citypath)
ride_data = pd.read_csv(ridepath)

In [4]:
city_data.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [5]:
# Combine the data into a single dataset using outer method so as not to lose
# data that does not appear in both during the merge

combined = pd.merge(city_data, ride_data, how="outer", on="city")

In [6]:
# display the data table for preview
combined.head()

          city  driver_count   type             date   fare       ride_id
0  Richardfort            38  Urban   2/24/2018 8:40  13.93  5.630000e+12
1  Richardfort            38  Urban  2/13/2018 12:46  14.00  9.100000e+11
2  Richardfort            38  Urban  2/16/2018 13:52  17.92  8.210000e+11
3  Richardfort            38  Urban   2/1/2018 20:18  10.26  9.550000e+12
4  Richardfort            38  Urban   4/17/2018 2:26  23.00  7.200000e+11

In [7]:
# Create Bubble Plot of Ride Sharing Data===

In [8]:
# Determine the number of rides per city
# start by creating city groups
city_group = combined.groupby('city')
#if just did city_group.mean(), we would get avg of every column for each city
#by specifying "fare" column in brackets after .mean() we just get avg fare
#for each city
avg_fare = city_group.mean()['fare']
ride_count = city_group['ride_id'].count()

In [9]:
# make new data frame by adding columns to city_data dataframe
# set index to city so that the calculated values for each city can sync up with
# the city name (index acts as a key)

city_data = city_data.set_index("city")
city_data["average_fare"] = avg_fare
city_data["number_of_rides"] = ride_count

city_data.head()

              driver_count   type  average_fare  number_of_rides
city
Richardfort             38  Urban     22.373214               28
Williamsstad            59  Urban     24.362174               23
Port Angela             67  Urban     23.836842               19
Rodneyfort              34  Urban     28.616957               23
West Robert             39  Urban     25.123871               31

In [10]:
plt.scatter(city_data.driver_count, city_data.average_fare, s=number_of_rides)

NameError: name 'number_of_rides' is not defined